body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1088px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1445_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1038px;
  height:720px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1445 {
  position:absolute;
  left:50px;
  top:50px;
  width:1038px;
  height:720px;
}
#u1446 {
  position:absolute;
  left:2px;
  top:352px;
  width:1034px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1447_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1038px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1447 {
  position:absolute;
  left:50px;
  top:153px;
  width:1038px;
  height:48px;
}
#u1448 {
  position:absolute;
  left:2px;
  top:16px;
  width:1034px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1449_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1449 {
  position:absolute;
  left:86px;
  top:168px;
  width:67px;
  height:16px;
  font-size:14px;
}
#u1450 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  word-wrap:break-word;
}
#u1451_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#63BDFF;
}
#u1451 {
  position:absolute;
  left:211px;
  top:168px;
  width:67px;
  height:16px;
  font-size:14px;
  color:#63BDFF;
}
#u1452 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  word-wrap:break-word;
}
#u1453_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1453 {
  position:absolute;
  left:341px;
  top:168px;
  width:67px;
  height:16px;
  font-size:14px;
}
#u1454 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  word-wrap:break-word;
}
#u1455_div {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:30px;
  background:inherit;
  background-color:rgba(99, 189, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 204, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1455 {
  position:absolute;
  left:948px;
  top:97px;
  width:117px;
  height:30px;
  color:#FFFFFF;
}
#u1456 {
  position:absolute;
  left:2px;
  top:7px;
  width:113px;
  word-wrap:break-word;
}
#u1457_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:4px;
  background:inherit;
  background-color:rgba(174, 174, 174, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1457 {
  position:absolute;
  left:1000px;
  top:66px;
  width:13px;
  height:4px;
}
#u1458 {
  position:absolute;
  left:2px;
  top:-6px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1459_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1459 {
  position:absolute;
  left:1029px;
  top:60px;
  width:15px;
  height:15px;
}
#u1460 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1461_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1461 {
  position:absolute;
  left:1060px;
  top:60px;
  width:15px;
  height:15px;
}
#u1462 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1463_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1038px;
  height:48px;
}
#u1463 {
  position:absolute;
  left:50px;
  top:200px;
  width:1038px;
  height:48px;
}
#u1464 {
  position:absolute;
  left:2px;
  top:16px;
  width:1034px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1465_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:5px;
}
#u1465 {
  position:absolute;
  left:202px;
  top:197px;
  width:67px;
  height:5px;
  color:#63BDFF;
}
#u1466 {
  position:absolute;
  left:2px;
  top:-6px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1467_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#6B6B6B;
}
#u1467 {
  position:absolute;
  left:86px;
  top:216px;
  width:67px;
  height:16px;
  color:#6B6B6B;
}
#u1468 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  word-wrap:break-word;
}
#u1469_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#63BDFF;
}
#u1469 {
  position:absolute;
  left:168px;
  top:216px;
  width:67px;
  height:16px;
  color:#63BDFF;
}
#u1470 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  word-wrap:break-word;
}
#u1471_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u1471 {
  position:absolute;
  left:189px;
  top:282px;
  width:100px;
  height:40px;
  font-size:14px;
  color:#FFFFFF;
}
#u1472 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u1473_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1473 {
  position:absolute;
  left:87px;
  top:282px;
  width:100px;
  height:40px;
  font-size:14px;
}
#u1474 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u1475_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:4px;
}
#u1475 {
  position:absolute;
  left:86px;
  top:320px;
  width:1000px;
  height:4px;
  font-size:14px;
  color:#FFFFFF;
}
#u1476 {
  position:absolute;
  left:2px;
  top:-6px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1477_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1477 {
  position:absolute;
  left:86px;
  top:360px;
  width:76px;
  height:17px;
  font-size:14px;
}
#u1478 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
#u1479_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1479 {
  position:absolute;
  left:388px;
  top:360px;
  width:62px;
  height:17px;
  font-size:14px;
}
#u1480 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u1481_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1481 {
  position:absolute;
  left:527px;
  top:360px;
  width:62px;
  height:17px;
  font-size:14px;
}
#u1482 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u1483_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1483 {
  position:absolute;
  left:839px;
  top:360px;
  width:40px;
  height:17px;
  font-size:14px;
}
#u1484 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u1485_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1485 {
  position:absolute;
  left:999px;
  top:360px;
  width:62px;
  height:17px;
  font-size:14px;
}
#u1486 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u1487_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:3px;
}
#u1487 {
  position:absolute;
  left:86px;
  top:387px;
  width:1000px;
  height:3px;
  font-size:14px;
  color:#FFFFFF;
}
#u1488 {
  position:absolute;
  left:2px;
  top:-6px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1489_div {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1489 {
  position:absolute;
  left:79px;
  top:413px;
  width:243px;
  height:17px;
  font-size:14px;
}
#u1490 {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  word-wrap:break-word;
}
#u1491_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1491 {
  position:absolute;
  left:383px;
  top:415px;
  width:78px;
  height:17px;
  font-size:14px;
}
#u1492 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  word-wrap:break-word;
}
#u1493_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1493 {
  position:absolute;
  left:503px;
  top:415px;
  width:118px;
  height:17px;
  font-size:14px;
}
#u1494 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  word-wrap:break-word;
}
#u1495_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1495 {
  position:absolute;
  left:825px;
  top:415px;
  width:63px;
  height:17px;
  font-size:14px;
}
#u1496 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u1497_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1497 {
  position:absolute;
  left:683px;
  top:360px;
  width:62px;
  height:17px;
  font-size:14px;
}
#u1498 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u1499_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1499 {
  position:absolute;
  left:659px;
  top:415px;
  width:118px;
  height:17px;
  font-size:14px;
}
#u1500 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  word-wrap:break-word;
}
#u1501_div {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:30px;
  background:inherit;
  background-color:rgba(99, 189, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 204, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1501 {
  position:absolute;
  left:948px;
  top:409px;
  width:117px;
  height:30px;
  color:#FFFFFF;
}
#u1502 {
  position:absolute;
  left:2px;
  top:7px;
  width:113px;
  word-wrap:break-word;
}
#u1503_div {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1503 {
  position:absolute;
  left:79px;
  top:462px;
  width:243px;
  height:17px;
  font-size:14px;
}
#u1504 {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  word-wrap:break-word;
}
#u1505_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1505 {
  position:absolute;
  left:383px;
  top:463px;
  width:78px;
  height:17px;
  font-size:14px;
}
#u1506 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  word-wrap:break-word;
}
#u1507_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1507 {
  position:absolute;
  left:503px;
  top:463px;
  width:118px;
  height:17px;
  font-size:14px;
}
#u1508 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  word-wrap:break-word;
}
#u1509_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1509 {
  position:absolute;
  left:825px;
  top:463px;
  width:63px;
  height:17px;
  font-size:14px;
}
#u1510 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u1511_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1511 {
  position:absolute;
  left:659px;
  top:463px;
  width:118px;
  height:17px;
  font-size:14px;
}
#u1512 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  word-wrap:break-word;
}
#u1513_div {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#6B6B6B;
}
#u1513 {
  position:absolute;
  left:948px;
  top:457px;
  width:117px;
  height:30px;
  color:#6B6B6B;
}
#u1514 {
  position:absolute;
  left:2px;
  top:7px;
  width:113px;
  word-wrap:break-word;
}
#u1515_div {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1515 {
  position:absolute;
  left:79px;
  top:509px;
  width:267px;
  height:17px;
  font-size:14px;
}
#u1516 {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  word-wrap:break-word;
}
#u1517_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1517 {
  position:absolute;
  left:383px;
  top:510px;
  width:78px;
  height:17px;
  font-size:14px;
}
#u1518 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  word-wrap:break-word;
}
#u1519_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1519 {
  position:absolute;
  left:503px;
  top:510px;
  width:118px;
  height:17px;
  font-size:14px;
}
#u1520 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  word-wrap:break-word;
}
#u1521_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1521 {
  position:absolute;
  left:825px;
  top:510px;
  width:63px;
  height:17px;
  font-size:14px;
}
#u1522 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u1523_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1523 {
  position:absolute;
  left:659px;
  top:510px;
  width:118px;
  height:17px;
  font-size:14px;
}
#u1524 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  word-wrap:break-word;
}
#u1525_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:30px;
}
#u1525 {
  position:absolute;
  left:948px;
  top:504px;
  width:117px;
  height:30px;
  color:#6B6B6B;
}
#u1526 {
  position:absolute;
  left:2px;
  top:7px;
  width:113px;
  word-wrap:break-word;
}
#u1527_div {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1527 {
  position:absolute;
  left:79px;
  top:554px;
  width:243px;
  height:17px;
  font-size:14px;
}
#u1528 {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  word-wrap:break-word;
}
#u1529_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1529 {
  position:absolute;
  left:383px;
  top:555px;
  width:78px;
  height:17px;
  font-size:14px;
}
#u1530 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  word-wrap:break-word;
}
#u1531_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1531 {
  position:absolute;
  left:503px;
  top:555px;
  width:118px;
  height:17px;
  font-size:14px;
}
#u1532 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  word-wrap:break-word;
}
#u1533_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1533 {
  position:absolute;
  left:825px;
  top:555px;
  width:63px;
  height:17px;
  font-size:14px;
}
#u1534 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u1535_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1535 {
  position:absolute;
  left:659px;
  top:555px;
  width:118px;
  height:17px;
  font-size:14px;
}
#u1536 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  word-wrap:break-word;
}
#u1537_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:30px;
}
#u1537 {
  position:absolute;
  left:948px;
  top:549px;
  width:117px;
  height:30px;
  color:#6B6B6B;
}
#u1538 {
  position:absolute;
  left:2px;
  top:7px;
  width:113px;
  word-wrap:break-word;
}
#u1539_div {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1539 {
  position:absolute;
  left:79px;
  top:601px;
  width:267px;
  height:17px;
  font-size:14px;
}
#u1540 {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  word-wrap:break-word;
}
#u1541_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1541 {
  position:absolute;
  left:383px;
  top:602px;
  width:78px;
  height:17px;
  font-size:14px;
}
#u1542 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  word-wrap:break-word;
}
#u1543_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1543 {
  position:absolute;
  left:503px;
  top:602px;
  width:118px;
  height:17px;
  font-size:14px;
}
#u1544 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  word-wrap:break-word;
}
#u1545_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1545 {
  position:absolute;
  left:825px;
  top:602px;
  width:63px;
  height:17px;
  font-size:14px;
}
#u1546 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u1547_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1547 {
  position:absolute;
  left:659px;
  top:602px;
  width:118px;
  height:17px;
  font-size:14px;
}
#u1548 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  word-wrap:break-word;
}
#u1549_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:30px;
}
#u1549 {
  position:absolute;
  left:948px;
  top:596px;
  width:117px;
  height:30px;
  color:#6B6B6B;
}
#u1550 {
  position:absolute;
  left:2px;
  top:7px;
  width:113px;
  word-wrap:break-word;
}
#u1551_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1551 {
  position:absolute;
  left:659px;
  top:670px;
  width:33px;
  height:17px;
  font-size:14px;
}
#u1552 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  word-wrap:break-word;
}
#u1553_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1553 {
  position:absolute;
  left:702px;
  top:670px;
  width:43px;
  height:17px;
  font-size:14px;
}
#u1554 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  word-wrap:break-word;
}
#u1555_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1555 {
  position:absolute;
  left:772px;
  top:670px;
  width:43px;
  height:17px;
  font-size:14px;
}
#u1556 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  word-wrap:break-word;
}
#u1557_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1557 {
  position:absolute;
  left:1001px;
  top:670px;
  width:62px;
  height:17px;
  font-size:14px;
}
#u1558 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u1559_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1559 {
  position:absolute;
  left:825px;
  top:670px;
  width:62px;
  height:17px;
  font-size:14px;
}
#u1560 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u1561_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1561 {
  position:absolute;
  left:929px;
  top:670px;
  width:62px;
  height:17px;
  font-size:14px;
}
#u1562 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u1563_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#33CCFF;
}
#u1563 {
  position:absolute;
  left:891px;
  top:670px;
  width:62px;
  height:17px;
  font-size:14px;
  color:#33CCFF;
}
#u1564 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u1565_div {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#6B6B6B;
}
#u1565 {
  position:absolute;
  left:948px;
  top:504px;
  width:117px;
  height:30px;
  color:#6B6B6B;
}
#u1566 {
  position:absolute;
  left:2px;
  top:7px;
  width:113px;
  word-wrap:break-word;
}
#u1567_div {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#6B6B6B;
}
#u1567 {
  position:absolute;
  left:948px;
  top:549px;
  width:117px;
  height:30px;
  color:#6B6B6B;
}
#u1568 {
  position:absolute;
  left:2px;
  top:7px;
  width:113px;
  word-wrap:break-word;
}
#u1569_div {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#6B6B6B;
}
#u1569 {
  position:absolute;
  left:948px;
  top:596px;
  width:117px;
  height:30px;
  color:#6B6B6B;
}
#u1570 {
  position:absolute;
  left:2px;
  top:7px;
  width:113px;
  word-wrap:break-word;
}
#u1571_div {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#6B6B6B;
}
#u1571 {
  position:absolute;
  left:948px;
  top:409px;
  width:117px;
  height:30px;
  color:#6B6B6B;
}
#u1572 {
  position:absolute;
  left:2px;
  top:7px;
  width:113px;
  word-wrap:break-word;
}
#u1573_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1573 {
  position:absolute;
  left:399px;
  top:282px;
  width:100px;
  height:40px;
  font-size:14px;
}
#u1574 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u1575_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1575 {
  position:absolute;
  left:503px;
  top:282px;
  width:100px;
  height:40px;
  font-size:14px;
}
#u1576 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u1577_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1577 {
  position:absolute;
  left:294px;
  top:282px;
  width:100px;
  height:40px;
  font-size:14px;
}
#u1578 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u1579_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:68px;
}
#u1579 {
  position:absolute;
  left:68px;
  top:66px;
  width:68px;
  height:68px;
  font-size:16px;
}
#u1580 {
  position:absolute;
  left:2px;
  top:24px;
  width:64px;
  word-wrap:break-word;
}
#u1581_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
}
#u1581 {
  position:absolute;
  left:162px;
  top:91px;
  width:98px;
  height:16px;
  font-size:14px;
  color:#999999;
}
#u1582 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  word-wrap:break-word;
}
#u1583_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:6px;
}
#u1583 {
  position:absolute;
  left:262px;
  top:97px;
  width:10px;
  height:6px;
  font-size:16px;
  color:#999999;
}
#u1584 {
  position:absolute;
  left:2px;
  top:-5px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1585_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u1585 {
  position:absolute;
  left:282px;
  top:91px;
  width:47px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u1586 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  word-wrap:break-word;
}
#u1587_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u1587 {
  position:absolute;
  left:339px;
  top:91px;
  width:60px;
  height:16px;
  color:#999999;
}
#u1588 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u1589_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:16px;
}
#u1589 {
  position:absolute;
  left:330px;
  top:91px;
  width:1px;
  height:15px;
  color:#CCCCCC;
}
#u1590 {
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1591_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1591 {
  position:absolute;
  left:468px;
  top:168px;
  width:67px;
  height:16px;
  font-size:14px;
}
#u1592 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  word-wrap:break-word;
}
#u1593_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1593 {
  position:absolute;
  left:600px;
  top:168px;
  width:67px;
  height:16px;
  font-size:14px;
}
#u1594 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  word-wrap:break-word;
}
