body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1088px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u614_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1038px;
  height:720px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u614 {
  position:absolute;
  left:50px;
  top:50px;
  width:1038px;
  height:720px;
}
#u615 {
  position:absolute;
  left:2px;
  top:352px;
  width:1034px;
  visibility:hidden;
  word-wrap:break-word;
}
#u616_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1038px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u616 {
  position:absolute;
  left:50px;
  top:153px;
  width:1038px;
  height:48px;
}
#u617 {
  position:absolute;
  left:2px;
  top:16px;
  width:1034px;
  visibility:hidden;
  word-wrap:break-word;
}
#u618_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#63BDFF;
}
#u618 {
  position:absolute;
  left:86px;
  top:168px;
  width:67px;
  height:16px;
  font-size:14px;
  color:#63BDFF;
}
#u619 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  word-wrap:break-word;
}
#u620_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u620 {
  position:absolute;
  left:211px;
  top:168px;
  width:67px;
  height:16px;
  font-size:14px;
}
#u621 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  word-wrap:break-word;
}
#u622_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u622 {
  position:absolute;
  left:341px;
  top:168px;
  width:67px;
  height:16px;
  font-size:14px;
}
#u623 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  word-wrap:break-word;
}
#u624_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1038px;
  height:48px;
}
#u624 {
  position:absolute;
  left:50px;
  top:200px;
  width:1038px;
  height:48px;
}
#u625 {
  position:absolute;
  left:2px;
  top:16px;
  width:1034px;
  visibility:hidden;
  word-wrap:break-word;
}
#u626_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:5px;
}
#u626 {
  position:absolute;
  left:85px;
  top:197px;
  width:67px;
  height:5px;
  color:#63BDFF;
}
#u627 {
  position:absolute;
  left:2px;
  top:-6px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u628_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#6B6B6B;
}
#u628 {
  position:absolute;
  left:86px;
  top:216px;
  width:67px;
  height:16px;
  color:#6B6B6B;
}
#u629 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  word-wrap:break-word;
}
#u630_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:464px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u630 {
  position:absolute;
  left:69px;
  top:258px;
  width:1000px;
  height:464px;
}
#u631 {
  position:absolute;
  left:2px;
  top:224px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u632_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:464px;
}
#u632 {
  position:absolute;
  left:69px;
  top:258px;
  width:192px;
  height:464px;
}
#u633 {
  position:absolute;
  left:2px;
  top:224px;
  width:188px;
  visibility:hidden;
  word-wrap:break-word;
}
#u634_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#63BDFF;
}
#u634 {
  position:absolute;
  left:168px;
  top:216px;
  width:67px;
  height:16px;
  color:#63BDFF;
}
#u635 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  word-wrap:break-word;
}
#u636_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#6B6B6B;
}
#u636 {
  position:absolute;
  left:258px;
  top:216px;
  width:67px;
  height:16px;
  color:#6B6B6B;
}
#u637 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  word-wrap:break-word;
}
#u638_div {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:30px;
  background:inherit;
  background-color:rgba(99, 189, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 204, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u638 {
  position:absolute;
  left:948px;
  top:97px;
  width:117px;
  height:30px;
  color:#FFFFFF;
}
#u639 {
  position:absolute;
  left:2px;
  top:7px;
  width:113px;
  word-wrap:break-word;
}
#u640_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u640 {
  position:absolute;
  left:114px;
  top:281px;
  width:100px;
  height:100px;
}
#u641 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  word-wrap:break-word;
}
#u642_div {
  position:absolute;
  left:0px;
  top:0px;
  width:668px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AEAEAE;
  line-height:20px;
}
#u642 {
  position:absolute;
  left:294px;
  top:320px;
  width:668px;
  height:53px;
  color:#AEAEAE;
  line-height:20px;
}
#u643 {
  position:absolute;
  left:0px;
  top:0px;
  width:668px;
  word-wrap:break-word;
}
#u644_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#6B6B6B;
}
#u644 {
  position:absolute;
  left:308px;
  top:432px;
  width:102px;
  height:16px;
  color:#6B6B6B;
}
#u645 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u646_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:4px;
  background:inherit;
  background-color:rgba(174, 174, 174, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u646 {
  position:absolute;
  left:1000px;
  top:66px;
  width:13px;
  height:4px;
}
#u647 {
  position:absolute;
  left:2px;
  top:-6px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u648_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u648 {
  position:absolute;
  left:1029px;
  top:60px;
  width:15px;
  height:15px;
}
#u649 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u650_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u650 {
  position:absolute;
  left:1060px;
  top:60px;
  width:15px;
  height:15px;
}
#u651 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u652_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(99, 189, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 204, 255, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u652 {
  position:absolute;
  left:799px;
  top:732px;
  width:80px;
  height:30px;
  color:#FFFFFF;
}
#u653 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u654_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u654 {
  position:absolute;
  left:894px;
  top:732px;
  width:80px;
  height:30px;
  color:#000000;
}
#u655 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u656_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u656 {
  position:absolute;
  left:988px;
  top:732px;
  width:80px;
  height:30px;
  color:#FFFFFF;
}
#u657 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u658_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u658 {
  position:absolute;
  left:124px;
  top:398px;
  width:80px;
  height:30px;
  color:#000000;
}
#u659 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u660_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:39px;
}
#u660 {
  position:absolute;
  left:79px;
  top:461px;
  width:171px;
  height:39px;
}
#u661 {
  position:absolute;
  left:2px;
  top:12px;
  width:167px;
  word-wrap:break-word;
}
#u662_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:39px;
}
#u662 {
  position:absolute;
  left:79px;
  top:507px;
  width:171px;
  height:39px;
}
#u663 {
  position:absolute;
  left:2px;
  top:12px;
  width:167px;
  word-wrap:break-word;
}
#u664_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u664 {
  position:absolute;
  left:293px;
  top:281px;
  width:78px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u665 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  word-wrap:break-word;
}
#u666_img {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:1px;
}
#u666 {
  position:absolute;
  left:293px;
  top:303px;
  width:700px;
  height:1px;
}
#u667 {
  position:absolute;
  left:2px;
  top:-8px;
  width:696px;
  visibility:hidden;
  word-wrap:break-word;
}
#u668_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u668 {
  position:absolute;
  left:407px;
  top:400px;
  width:130px;
  height:18px;
}
#u669 {
  position:absolute;
  left:2px;
  top:1px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u670_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u670 {
  position:absolute;
  left:407px;
  top:430px;
  width:130px;
  height:18px;
}
#u671 {
  position:absolute;
  left:2px;
  top:1px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u672_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#797979;
}
#u672 {
  position:absolute;
  left:931px;
  top:281px;
  width:62px;
  height:16px;
  color:#797979;
}
#u673 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u674_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:21px;
}
#u674 {
  position:absolute;
  left:891px;
  top:279px;
  width:30px;
  height:20px;
  font-size:10px;
}
#u675 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  word-wrap:break-word;
}
#u676_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
  background:inherit;
  background-color:rgba(99, 189, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 204, 255, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u676 {
  position:absolute;
  left:547px;
  top:399px;
  width:80px;
  height:20px;
  color:#FFFFFF;
}
#u677 {
  position:absolute;
  left:2px;
  top:2px;
  width:76px;
  word-wrap:break-word;
}
#u678_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
  background:inherit;
  background-color:rgba(99, 189, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 204, 255, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u678 {
  position:absolute;
  left:547px;
  top:429px;
  width:80px;
  height:20px;
  color:#FFFFFF;
}
#u679 {
  position:absolute;
  left:2px;
  top:2px;
  width:76px;
  word-wrap:break-word;
}
#u680_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#6B6B6B;
}
#u680 {
  position:absolute;
  left:294px;
  top:399px;
  width:116px;
  height:16px;
  color:#6B6B6B;
}
#u681 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  word-wrap:break-word;
}
#u682_div {
  position:absolute;
  left:0px;
  top:0px;
  width:668px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AEAEAE;
  line-height:20px;
}
#u682 {
  position:absolute;
  left:294px;
  top:527px;
  width:668px;
  height:53px;
  color:#AEAEAE;
  line-height:20px;
}
#u683 {
  position:absolute;
  left:0px;
  top:0px;
  width:668px;
  word-wrap:break-word;
}
#u684_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#6B6B6B;
}
#u684 {
  position:absolute;
  left:308px;
  top:639px;
  width:102px;
  height:16px;
  color:#6B6B6B;
}
#u685 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u686_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#6B6B6B;
}
#u686 {
  position:absolute;
  left:293px;
  top:488px;
  width:62px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#6B6B6B;
}
#u687 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u688_img {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:1px;
}
#u688 {
  position:absolute;
  left:293px;
  top:510px;
  width:700px;
  height:1px;
}
#u689 {
  position:absolute;
  left:2px;
  top:-8px;
  width:696px;
  visibility:hidden;
  word-wrap:break-word;
}
#u690_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u690 {
  position:absolute;
  left:407px;
  top:607px;
  width:130px;
  height:18px;
}
#u691 {
  position:absolute;
  left:2px;
  top:1px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u692_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u692 {
  position:absolute;
  left:407px;
  top:637px;
  width:130px;
  height:18px;
}
#u693 {
  position:absolute;
  left:2px;
  top:1px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u694_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#797979;
}
#u694 {
  position:absolute;
  left:931px;
  top:488px;
  width:62px;
  height:16px;
  color:#797979;
}
#u695 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u696_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:21px;
}
#u696 {
  position:absolute;
  left:891px;
  top:486px;
  width:30px;
  height:20px;
  font-size:10px;
}
#u697 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  word-wrap:break-word;
}
#u698_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
  background:inherit;
  background-color:rgba(99, 189, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 204, 255, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u698 {
  position:absolute;
  left:547px;
  top:606px;
  width:80px;
  height:20px;
  color:#FFFFFF;
}
#u699 {
  position:absolute;
  left:2px;
  top:2px;
  width:76px;
  word-wrap:break-word;
}
#u700_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
  background:inherit;
  background-color:rgba(99, 189, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 204, 255, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u700 {
  position:absolute;
  left:547px;
  top:636px;
  width:80px;
  height:20px;
  color:#FFFFFF;
}
#u701 {
  position:absolute;
  left:2px;
  top:2px;
  width:76px;
  word-wrap:break-word;
}
#u702_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#6B6B6B;
}
#u702 {
  position:absolute;
  left:294px;
  top:606px;
  width:116px;
  height:16px;
  color:#6B6B6B;
}
#u703 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  word-wrap:break-word;
}
#u704_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:68px;
}
#u704 {
  position:absolute;
  left:68px;
  top:66px;
  width:68px;
  height:68px;
  font-size:16px;
}
#u705 {
  position:absolute;
  left:2px;
  top:24px;
  width:64px;
  word-wrap:break-word;
}
#u706_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
}
#u706 {
  position:absolute;
  left:162px;
  top:91px;
  width:98px;
  height:16px;
  font-size:14px;
  color:#999999;
}
#u707 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  word-wrap:break-word;
}
#u708_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:6px;
}
#u708 {
  position:absolute;
  left:262px;
  top:97px;
  width:10px;
  height:6px;
  font-size:16px;
  color:#999999;
}
#u709 {
  position:absolute;
  left:2px;
  top:-5px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u710_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u710 {
  position:absolute;
  left:282px;
  top:91px;
  width:47px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u711 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  word-wrap:break-word;
}
#u712_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u712 {
  position:absolute;
  left:339px;
  top:91px;
  width:60px;
  height:16px;
  color:#999999;
}
#u713 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u714_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:16px;
}
#u714 {
  position:absolute;
  left:330px;
  top:91px;
  width:1px;
  height:15px;
  color:#CCCCCC;
}
#u715 {
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u716_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u716 {
  position:absolute;
  left:468px;
  top:168px;
  width:67px;
  height:16px;
  font-size:14px;
}
#u717 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  word-wrap:break-word;
}
#u718_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u718 {
  position:absolute;
  left:600px;
  top:168px;
  width:67px;
  height:16px;
  font-size:14px;
}
#u719 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  word-wrap:break-word;
}
