body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1088px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u124_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1038px;
  height:720px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u124 {
  position:absolute;
  left:50px;
  top:50px;
  width:1038px;
  height:720px;
}
#u125 {
  position:absolute;
  left:2px;
  top:352px;
  width:1034px;
  visibility:hidden;
  word-wrap:break-word;
}
#u126_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Narrow', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u126 {
  position:absolute;
  left:111px;
  top:70px;
  width:97px;
  height:19px;
  font-family:'Arial Narrow', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u127 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u128 {
  position:absolute;
  left:71px;
  top:64px;
  width:30px;
  height:30px;
}
#u129 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u130_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1038px;
  height:1px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u130 {
  position:absolute;
  left:50px;
  top:104px;
  width:1038px;
  height:1px;
}
#u131 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1034px;
  visibility:hidden;
  word-wrap:break-word;
}
#u132_div {
  position:absolute;
  left:0px;
  top:0px;
  width:505px;
  height:93px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:28px;
}
#u132 {
  position:absolute;
  left:145px;
  top:150px;
  width:505px;
  height:93px;
  line-height:28px;
}
#u133 {
  position:absolute;
  left:0px;
  top:0px;
  width:505px;
  word-wrap:break-word;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u134 {
  position:absolute;
  left:78px;
  top:146px;
  width:50px;
  height:50px;
}
#u135 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u136_div {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#5E5E5E;
}
#u136 {
  position:absolute;
  left:145px;
  top:263px;
  width:117px;
  height:30px;
  color:#5E5E5E;
}
#u137 {
  position:absolute;
  left:2px;
  top:7px;
  width:113px;
  word-wrap:break-word;
}
