body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1076px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u978 {
  position:absolute;
  left:128px;
  top:292px;
  width:180px;
  height:40px;
  font-size:14px;
}
#u979 {
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u980 {
  position:absolute;
  left:330px;
  top:292px;
  width:180px;
  height:40px;
  font-size:14px;
  color:#FFFFFF;
}
#u981 {
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u982 {
  position:absolute;
  left:534px;
  top:292px;
  width:180px;
  height:40px;
  font-size:14px;
}
#u983 {
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u984 {
  position:absolute;
  left:288px;
  top:285px;
  width:55px;
  height:55px;
  font-size:20px;
  color:#FFFFFF;
}
#u985 {
  position:absolute;
  left:2px;
  top:16px;
  width:51px;
  word-wrap:break-word;
}
#u986_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u986 {
  position:absolute;
  left:126px;
  top:383px;
  width:131px;
  height:17px;
  font-size:14px;
}
#u987 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  word-wrap:break-word;
}
#u988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#A1A1A1;
  text-align:left;
}
#u988 {
  position:absolute;
  left:202px;
  top:381px;
  width:374px;
  height:24px;
  color:#A1A1A1;
  text-align:left;
}
#u989 {
  position:absolute;
  left:2px;
  top:4px;
  width:370px;
  word-wrap:break-word;
}
#u990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u990 {
  position:absolute;
  left:126px;
  top:438px;
  width:131px;
  height:17px;
  font-size:14px;
}
#u991 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  word-wrap:break-word;
}
#u992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(99, 189, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 204, 255, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u992 {
  position:absolute;
  left:126px;
  top:1065px;
  width:180px;
  height:40px;
  font-size:14px;
  color:#FFFFFF;
}
#u993 {
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u994_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u994 {
  position:absolute;
  left:317px;
  top:1065px;
  width:180px;
  height:40px;
  font-size:14px;
}
#u995 {
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u996 {
  position:absolute;
  left:557px;
  top:387px;
  width:12px;
  height:12px;
}
#u997 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u998_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:125px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u998 {
  position:absolute;
  left:202px;
  top:438px;
  width:374px;
  height:125px;
}
#u999 {
  position:absolute;
  left:2px;
  top:54px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u1000 {
  position:absolute;
  left:94px;
  top:285px;
  width:55px;
  height:55px;
  font-size:20px;
  color:#FFFFFF;
}
#u1001 {
  position:absolute;
  left:2px;
  top:16px;
  width:51px;
  word-wrap:break-word;
}
#u1002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u1002 {
  position:absolute;
  left:492px;
  top:285px;
  width:55px;
  height:55px;
  font-size:20px;
  color:#FFFFFF;
}
#u1003 {
  position:absolute;
  left:2px;
  top:16px;
  width:51px;
  word-wrap:break-word;
}
#u1004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1004 {
  position:absolute;
  left:126px;
  top:585px;
  width:131px;
  height:17px;
  font-size:14px;
}
#u1005 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  word-wrap:break-word;
}
#u1006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:125px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1006 {
  position:absolute;
  left:202px;
  top:585px;
  width:374px;
  height:125px;
}
#u1007 {
  position:absolute;
  left:2px;
  top:54px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:38px;
}
#u1008 {
  position:absolute;
  left:202px;
  top:726px;
  width:180px;
  height:38px;
  color:#FFFFFF;
}
#u1009 {
  position:absolute;
  left:2px;
  top:11px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:668px;
  height:95px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AEAEAE;
  line-height:20px;
}
#u1010 {
  position:absolute;
  left:408px;
  top:727px;
  width:668px;
  height:95px;
  color:#AEAEAE;
  line-height:20px;
}
#u1011 {
  position:absolute;
  left:0px;
  top:0px;
  width:668px;
  word-wrap:break-word;
}
#u1012_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1012 {
  position:absolute;
  left:126px;
  top:726px;
  width:131px;
  height:17px;
  font-size:14px;
}
#u1013 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  word-wrap:break-word;
}
#u1014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u1014 {
  position:absolute;
  left:280px;
  top:737px;
  width:67px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u1015 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  word-wrap:break-word;
}
#u1016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1016 {
  position:absolute;
  left:240px;
  top:730px;
  width:30px;
  height:30px;
}
#u1017 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1018_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1018 {
  position:absolute;
  left:126px;
  top:1001px;
  width:71px;
  height:17px;
  font-size:14px;
}
#u1019 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  word-wrap:break-word;
}
#u1020_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1020 {
  position:absolute;
  left:236px;
  top:1001px;
  width:34px;
  height:17px;
  font-size:14px;
}
#u1021 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  word-wrap:break-word;
}
#u1022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u1022 {
  position:absolute;
  left:207px;
  top:1001px;
  width:18px;
  height:18px;
}
#u1023 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u1024 {
  position:absolute;
  left:343px;
  top:1001px;
  width:18px;
  height:18px;
}
#u1025 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1026_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1026 {
  position:absolute;
  left:435px;
  top:1002px;
  width:34px;
  height:16px;
  font-size:14px;
}
#u1027 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  word-wrap:break-word;
}
#u1028 {
  position:absolute;
  left:370px;
  top:999px;
  width:55px;
  height:25px;
}
#u1028_input {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1028_input {
  font-family:'应用字体';
}
#u1029_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1029 {
  position:absolute;
  left:126px;
  top:847px;
  width:71px;
  height:17px;
  font-size:14px;
}
#u1030 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  word-wrap:break-word;
}
#u1031_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#36A9CE;
}
#u1031 {
  position:absolute;
  left:353px;
  top:847px;
  width:71px;
  height:17px;
  font-size:14px;
  color:#36A9CE;
}
#u1032 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  word-wrap:break-word;
}
#u1033 {
  position:absolute;
  left:207px;
  top:843px;
  width:126px;
  height:25px;
}
#u1033_input {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1033_input {
  font-family:'应用字体';
}
#u1034 {
  position:absolute;
  left:207px;
  top:888px;
  width:126px;
  height:32px;
}
#u1034_input {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1034_input {
  font-family:'应用字体';
}
#u1035_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:1px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#36A9CE;
}
#u1035 {
  position:absolute;
  left:353px;
  top:896px;
  width:71px;
  height:1px;
  font-size:14px;
  color:#36A9CE;
}
#u1036 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  word-wrap:break-word;
}
