body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1088px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u32_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1038px;
  height:720px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u32 {
  position:absolute;
  left:50px;
  top:50px;
  width:1038px;
  height:720px;
}
#u33 {
  position:absolute;
  left:2px;
  top:352px;
  width:1034px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Narrow', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u34 {
  position:absolute;
  left:111px;
  top:70px;
  width:97px;
  height:19px;
  font-family:'Arial Narrow', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u36 {
  position:absolute;
  left:71px;
  top:64px;
  width:30px;
  height:30px;
}
#u37 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1038px;
  height:1px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38 {
  position:absolute;
  left:50px;
  top:104px;
  width:1038px;
  height:1px;
}
#u39 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1034px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#1E1E1E;
}
#u40 {
  position:absolute;
  left:84px;
  top:179px;
  width:72px;
  height:16px;
  font-size:14px;
  color:#1E1E1E;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  word-wrap:break-word;
}
#u42_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#1E1E1E;
}
#u42 {
  position:absolute;
  left:99px;
  top:317px;
  width:72px;
  height:16px;
  font-size:14px;
  color:#1E1E1E;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:143px;
  top:170px;
  width:300px;
  height:35px;
}
#u44_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u44_input {
  font-family:'应用字体';
}
#u45 {
  position:absolute;
  left:143px;
  top:308px;
  width:300px;
  height:35px;
}
#u45_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u45_input {
  font-family:'应用字体';
}
#u46 {
  position:absolute;
  left:143px;
  top:354px;
  width:300px;
  height:35px;
}
#u46_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u46_input {
  font-family:'应用字体';
}
#u47_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#1E1E1E;
}
#u47 {
  position:absolute;
  left:71px;
  top:364px;
  width:72px;
  height:16px;
  font-size:14px;
  color:#1E1E1E;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  word-wrap:break-word;
}
#u49_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#797979;
}
#u49 {
  position:absolute;
  left:143px;
  top:406px;
  width:137px;
  height:18px;
  font-size:14px;
  color:#797979;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  word-wrap:break-word;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:40px;
}
#u51 {
  position:absolute;
  left:143px;
  top:447px;
  width:198px;
  height:40px;
  font-size:14px;
  color:#FFFFFF;
}
#u52 {
  position:absolute;
  left:2px;
  top:12px;
  width:194px;
  word-wrap:break-word;
}
#u53_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#1E1E1E;
}
#u53 {
  position:absolute;
  left:84px;
  top:226px;
  width:72px;
  height:16px;
  font-size:14px;
  color:#1E1E1E;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:143px;
  top:217px;
  width:300px;
  height:35px;
}
#u55_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u55_input {
  font-family:'应用字体';
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:35px;
}
#u56 {
  position:absolute;
  left:336px;
  top:217px;
  width:107px;
  height:35px;
  font-size:14px;
  color:#FFFFFF;
}
#u57 {
  position:absolute;
  left:2px;
  top:10px;
  width:103px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:143px;
  top:262px;
  width:300px;
  height:35px;
}
#u58_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u58_input {
  font-family:'应用字体';
}
#u59_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#1E1E1E;
}
#u59 {
  position:absolute;
  left:99px;
  top:272px;
  width:72px;
  height:16px;
  font-size:14px;
  color:#1E1E1E;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  word-wrap:break-word;
}
#u61_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Narrow', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u61 {
  position:absolute;
  left:71px;
  top:124px;
  width:57px;
  height:16px;
  font-family:'Arial Narrow', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:940px;
  height:1px;
}
#u63 {
  position:absolute;
  left:71px;
  top:150px;
  width:940px;
  height:1px;
}
#u64 {
  position:absolute;
  left:2px;
  top:-8px;
  width:936px;
  visibility:hidden;
  word-wrap:break-word;
}
